<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' media='screen' href='../styles/main.css'>
    <title>meltify</title>
</head>
<body>
    <div class="header">
        <h1>Meltify</h1>
        <p class="slogan">Melt or Craft your metal in   <a href="https://www.teamfortress.com/" target="blank_"> tf2 </a> without launching the game.</p>
    </div>
</body>
</html>