<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Meltify!</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    
    <style>
        *{
            margin: 0px;
            padding: 0px;
            font-family: "Barlow Condensed";

        }

        h1{
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 900;
            font-size: 100px;
        }

        .slogan{
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 500;
            font-size: 20px; 
        }
    </style>

</head>
<body>
    
    <div class="header">
        <h1>Meltify</h1>
        <p class="slogan">Melt or Craft your metal in   <a href="https://www.teamfortress.com/" target="blank_"> tf2 </a> without launching the game.</p>
    </div>
    <div class="body">
        <form>
            <p>Steam username account:</p>
            <input type="text" placeholder="username">
            <p>Steam password:</p>
            <input type="text" placeholder="password">
            <button>Show password</button> <br />

            <button>Login.</button>
        </form>
    </div>
    <div class="bypassPart"><!-- Part to create a json file to a specific folder to automatically login -->
        <p>Want to bypass this login phase?</p>
    </div>
</body>
</html>